# Created by .ignore support plugin (hsz.mobi)
.vscode
.idea
/spoke_vpc/home/*.tfstate
/spoke_vpc/home/*.tfstate.*
/spoke_vpc/home/.terraform/*
/spoke_vpc/home/terraform.tfvars

/tgw_2spoke_1securityVPC/home/*.tfstate
/tgw_2spoke_1securityVPC/home/*.tfstate.*
/tgw_2spoke_1securityVPC/home/.terraform/*
/tgw_2spoke_1securityVPC/home/terraform.tfvars


